html,
body {
    padding: 0;
    margin: 0;
    height: 98vh;
}

body {
    background-image: url("bg.jpg");
}

.wrapper-main {
    height: 100%;
}

header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    background-color: rgb(255, 4, 222);
    align-items: center;
    border-radius: 1rem;
}

header div {
    display: flex;
    align-items: center;
    width: 5%;
}

header div p {
    white-space: nowrap;
    font-size: larger;
    padding-left: 10px;
    color: aquamarine;

}

header div img {
    width: 100%;
    padding-left: 1rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    align-self: center;
}

a {
    text-decoration: none;
}

nav {
    font-family: monospace;
    padding: 1rem;
}

ul {
    background: pink;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    color: #fff;
    background: rgb(0, 231, 247);
    display: block;
    float: left;
    padding: 1rem;
    padding-right: 3rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a {
    color: #fff;
}

li:hover,
li:focus-within {
    background: red;
    cursor: pointer;
}

li:focus-within a {
    outline: none;
}

ul li ul {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
    z-index: 100;
}

ul li ul li {
    clear: both;
    width: 100%;
}

/* ------SECTION------- */

section {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 17% auto;
    height: 90%;
}

article {
    padding: 1rem;
    background-color: red;
    grid-column: 2;
    background-color: rgba(0, 128, 0, .15);
}

aside {
    padding: 1rem;
    grid-column: 1;
    background-color: rgba(128, 0, 0, .15);
}

aside div {
    background-color: rgb(9, 255, 0);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
}

aside div a {
    padding-top: 2rem;
    padding-left: 2rem;

}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: 65% auto;
    height: 50%;
}

.wrapper-icon {
    z-index: 100;
    position: absolute;
    list-style: none;
    bottom: -8%;
    font-size: 2.5rem;
}

.flex {
    display: flex;
    height: 50%;
    background-color: violet;
    position: relative;
}

.flex .col {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.col-contact {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.col-contact h1 {
    font-size: 2rem;
    margin-left: 4rem;
    width: 10rem;
    text-align: right;
}

.col-contact table {
    text-align: center;
    width: 15rem;
    height: 13rem;
    right: 2rem;
    bottom: 1rem;
    border-collapse: collapse;
    position: absolute;
}

table th {
    height: 2rem;
}

td,
th {
    border: 1px solid black;
}

input {
    margin-top: 1rem;
}

.col-maps {
    grid-row: 1;
    grid-column: 2;
}

button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

footer {
    background-color: aqua;
    width: 100%;
    text-align: center;
    bottom: 0;
    height: 50px;
}